// @font-face {
//   font-family: 'Kindly-Jasmine';
//   font-display: swap;
//   src: local('Kindly Jasmine'),
//     url('../fonts/Kindly-Jasmine.woff2') format('woff2'),
//     url('../fonts/Kindly-Jasmine.woff') format('woff');
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Kindly Jasmine';
//   src: url('../fonts/KindlyJasmine.woff2') format('woff2'),
//     url('../fonts/KindlyJasmine.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'nautiluspompilius';
  src: url('../fonts/nautiluspompilius.woff2') format('woff2'),
    url('../fonts/nautiluspompilius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
