.first-screen {
  background-image: url(../img/tour-one-first-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-weight: 700;
  margin-top: -83px;
  padding: 212px 0;

  @media (max-width: 800px) {
    padding: 388px 0;
  }
  @media (max-width: 500px) {
    padding: 322px 0;
  }

  // .first-screen__inner

  &__inner {
  }

  // .first-screen__content

  &__content {
  }

  // .first-screen__subtitle

  &__subtitle {
    font-size: 24px;
    line-height: 29px;
    color: $yellow;
    margin-bottom: 10px;
  }

  // .first-screen__title

  &__title {
    font-size: 48px;
    line-height: 59px;
    color: $white;
    max-width: 761px;
    margin-bottom: 40px;

    @media (max-width: 800px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 70px;
    }
    @media (max-width: 500px) {
      margin-bottom: 60px;
    }
  }

  // .first-screen__footer

  &__footer {
    display: flex;
  }

  // .first-screen__btn

  &__btn {
    padding-left: 41px;
    padding-right: 41px;

    @media (max-width: 500px) {
      padding-left: 58px;
      padding-right: 58px;
    }
    span {
      font-size: 14px;
      line-height: 17px;
      color: $white;

      padding-right: 23px;

      background-image: url(../img/header-intro/arrow-btn.svg);
      background-repeat: no-repeat;
      background-position: right center;

      @media (max-width: 500px) {
        padding-right: 28px;
      }
    }
  }

  // .first-screen__heart

  &__heart {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background: rgba($white, 0.3);
    backdrop-filter: blur(1000px);
    position: relative;
    border-radius: 50%;

    @media (max-width: 500px) {
      margin-left: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 29px;
      height: 24px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background-image: url(../img/heart.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

// description===========================================
.description {
  margin-top: 149px;

  @media (max-width: 800px) {
    margin-top: 151px;
  }

  // .description__inner

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .description__left

  &__left {
    max-width: 382px;
    margin-right: 20px;

    @media (max-width: 1000px) {
      max-width: 646px;
      margin-right: 0;
    }
    @media (max-width: 800px) {
      max-width: 610px;
    }
  }

  // .description__title

  &__title {
    margin-bottom: 40px;
  }

  // .description__text

  &__right-ticket,
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $black;
  }
  &__text {
  }

  // .description__rihgt

  &__right {
    display: flex;
    padding-top: 41px;
    gap: 56px;

    @media (max-width: 800px) {
      gap: 38px;
      padding-top: 60px;
    }
    @media (max-width: 650px) {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;
      row-gap: 40px;
    }
  }

  // .description__right-col

  &__right-col {
    width: 178px;
    height: 117px;
    // outline: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 57px;
    //   height: 57px;
    //   background-color: $yellow;
    //   border-radius: 50%;
    //   top: -17px;
    //   left: -17px;
    // }
  }

  &__right-col-inner {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 160px;
    height: 100px;
    padding: 24px 18px;
    // position: relative;
  }

  &__right-col:last-child &__right-col-inner {
    padding: 35px 3px 35px 12px;
  }

  // .description__right-price

  &__right-price,
  &__right-hour {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $blue;
  }

  &__right-price {
    background-image: url(../img/tours-card/price-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px;
    padding-left: 40px;
    margin-bottom: 5px;
  }

  // .description__right-tiket

  &__right-ticket {
  }

  // .description__right-hour

  &__right-hour {
    background-image: url(../img/tours-card/time-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    padding-left: 30px;
  }

  &__right-circle {
    position: absolute;
    width: 57px;
    height: 57px;
    background-color: $yellow;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}

// travel-calendar================================================
.travel-calendar {
  position: relative;
  margin-right: 11.11%;
  margin-top: 150px;

  @media (max-width: 700px) {
    margin-right: 0;
  }

  // .travel-calendar__img-wrap

  &__img-wrap {
    width: 57.29vw;
    height: 877px;

    @media (max-width: 800px) {
      width: 479px;
    }
    @media (max-width: 700px) {
      width: 304px;
    }
    @media (max-width: 427px) {
      width: 100%;
    }
  }

  // .travel-calendar__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .travel-calendar__absolute-block

  &__absolute-block {
    position: absolute;
    right: 0;
    top: 149px;
    width: 560px;
    height: 585px;

    @media (max-width: 800px) {
      width: 610px;
      top: 140px;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
    @media (max-width: 427px) {
      right: auto;
    }
  }

  // .travel-calendar__title

  &__title {
    margin-bottom: 90px;
    width: 349px;
    text-align: right;
    background-color: $white;
    margin-left: auto;

    @media (max-width: 700px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 427px) {
      width: 274px;
      font-size: 20px;
    }
  }

  // .travel-calendar__calendar

  &__calendar {
    & .air-datepicker {
      width: 499px;
      height: 396px;
      padding: 30px;

      @media (max-width: 800px) {
        width: 548px;
      }
      @media (max-width: 700px) {
        width: 366px;
        margin: 0 auto;
      }
      @media (max-width: 427px) {
        width: 94%;
        height: 350px;
        padding: 10px;
      }
    }

    .air-datepicker-nav {
      height: 69px;
      border: none;
      margin: 0;
      padding: 0;
    }

    .air-datepicker--content {
      padding: 0;
    }

    .air-datepicker-body--day-names {
      height: 57px;
      margin: 0;
    }

    .air-datepicker-body--day-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $black;
    }

    .air-datepicker-body--cells {
      grid-auto-rows: 48px;

      @media (max-width: 427px) {
        grid-auto-rows: 45px;
      }
    }

    .air-datepicker-nav--title,
    .air-datepicker-nav--title i {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: $blue;
    }

    .air-datepicker-cell {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $black;
    }

    .air-datepicker-cell -other-month- {
      color: #d4d4d4;
    }
  }
}

// route========================================================================
.route {
  display: flex;
  margin-left: 11.11%;
  margin-top: 150px;

  @media (max-width: 1100px) {
    flex-direction: column;
    margin-left: 10.28%;
  }
  @media (max-width: 700px) {
    margin-left: 24px;
  }

  // .route__content

  &__content {
    width: 50%;
    max-width: 550px;
    padding: 60px 15px 0 0;

    @media (max-width: 1100px) {
      max-width: 860px;
      padding: 0 70px 0 0;
      width: auto;
      margin-bottom: 58px;
    }
    @media (max-width: 700px) {
      padding: 0 15px 0 0;
      margin-bottom: 20px;
    }
  }

  // .route__title

  &__title {
    margin-bottom: 90px;

    @media (max-width: 700px) {
      margin-bottom: 64px;
    }
  }

  // .route__place

  &__place {
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    position: relative;
    padding-left: 38px;

    @media (max-width: 700px) {
      margin-bottom: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: $yellow;
      background-repeat: no-repeat;
    }
  }

  // .route__min-title

  &__min-title {
    margin: 40px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    padding-left: 38px;
  }

  // .route__right

  &__right {
    // width: 50%;
    // padding-left: 40px;
    margin-left: auto;
    max-width: 613px;

    @media (max-width: 1100px) {
      width: 100%;
      max-width: 680px;
    }
    @media (max-width: 750px) {
      max-width: 404px;
    }
  }

  // .route__slider

  &__slider {
    // max-width: 613px;
    margin-right: 0;
  }

  // .route__slider-wrapper

  &__slider-wrapper {
  }

  // .route__slider-item

  &__slider-item {
  }

  // .route__slider-img-wrap

  &__slider-img-wrap {
    width: 413px;
    height: 570px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 750px) {
      width: 280px;
      height: 540px;
    }
    @media (max-width: 420px) {
      width: 100%;
    }
  }

  // .route__slider-img

  &__slider-img {
    width: 100%;
    height: 100%;

    @media (max-width: 750px) {
      object-fit: cover;
    }
  }

  // .route__slider-text

  &__slider-text {
    position: absolute;
    left: 23px;
    bottom: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $yellow;
  }
}

.route-slider-control {
  height: 43px;
  display: flex;
  align-items: center;
  gap: 51px;
  margin-top: 40px;

  @media (max-width: 750px) {
    margin-top: 70px;
  }

  // .route-slider-control__navigation

  &__navigation {
    display: flex;
    gap: 38px;
    height: 100%;
  }

  // .route-slider-control__navigation-prev

  &__navigation-prev,
  &__navigation-next {
    position: static;
    height: auto;
    margin-top: 0;
    stroke: #0499dd;

    &::after {
      display: none;
    }
  }

  &__navigation-prev.swiper-button-disabled,
  &__navigation-next.swiper-button-disabled {
    stroke: #d4d4d4;
    opacity: 1;
  }

  &__navigation-prev {
  }

  // .route-slider-control__navigation-next

  &__navigation-next {
  }

  // .route-slider-control__pagination

  &__pagination {
    position: static;
    height: 2px;
    background-color: #d4d4d4;
    position: relative;

    .swiper-pagination-progressbar-fill {
      position: absolute;
      background: $blue;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transform-origin: left top;
    }
  }
}

// costs=========================================================================
.costs {
  margin-top: 150px;

  // .costs__title

  &__title {
    margin-bottom: 90px;
  }

  // .costs__cards

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 23px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 27px;
      row-gap: 40px;
    }
    @media (max-width: 650px) {
      column-gap: 19px;
    }
  }
}

.card-tour {
  // width: 178px;
  height: 117px;
  // outline: 1px solid red;
  padding: 17px 0 0 18px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 57px;
    height: 57px;
    top: 0;
    left: 0;
    background-color: $yellow;
    border-radius: 50%;
  }

  // .card-tour__inner

  &__inner {
    height: 100px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    @media (max-width: 650px) {
      width: 162px;
      padding: 0;
    }
  }

  &__inner--1 {
    @media (max-width: 1200px) {
      padding: 0 18px;
    }
  }
  &__inner--2 {
    padding: 0 17px;

    @media (max-width: 1200px) {
      padding: 0 9px;
    }
  }
  &__inner--3 {
    @media (max-width: 1200px) {
      padding: 0 9px;
    }
  }
  &__inner--4 {
    padding: 0 21px;
  }
  &__inner--5 {
    padding: 0 60px;
  }

  // .card-tour__blue

  &__blue {
    margin-bottom: 5px;
  }

  &__blue:not(:last-child) {
    padding-left: 40px;
    background-image: url(../img/tours-card/price-icon.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }

  // .card-tour__text

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $black;

    @media (max-width: 650px) {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

// info=====================================================================================
.info {
  margin-top: 150px;

  @media (max-width: 768px) {
    display: none;
  }

  // .info__title

  &__title {
    margin-bottom: 90px;
  }

  // .info__body

  &__body {
    display: flex;
  }

  // .info__body-left

  &__body-left {
    width: 50%;
  }

  // .info__left-text1

  &__left-text1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 40px;
  }

  // .info__left-list

  &__left-list {
  }

  // .info__left-item

  &__left-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $blue;
    position: relative;
    padding-left: 95px;
    margin-bottom: 86px;

    &:last-child {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 51px;
      height: 51px;
      top: 17px;
      left: 17px;
      background-image: url(../img/passport-icon.svg);
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0px;
      left: 0px;
      background-color: $yellow;
      border-radius: 50%;
      z-index: -1;
    }
  }

  // .info__left-text2

  &__left-text2 {
    padding-left: 95px;
  }

  &__left-text2,
  &__right-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $black;
  }

  // .info__body-right

  &__body-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 22px;
  }

  &__body-right-block {
    background: #ededed;
    border-radius: 10px;
    width: 360px;
    height: 131px;
    margin-bottom: 51px;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 0 0 0 26px;
    position: relative;
    // margin-left: auto;

    &::before {
      content: '!';
      position: absolute;
      font-weight: 400;
      font-size: 96px;
      line-height: 129px;
      color: rgba($yellow, 0.4);
      right: 27px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .info__right-text

  &__right-text {
    max-width: 275px;
  }
}

// gallery__grid============================
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 40px 100px;
  grid-gap: 30px;
}

.gallery__grid-item {
  background: #000;
}

.gallery__grid-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__grid-item:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__grid-item:nth-child(5) {
  grid-row-start: 1;
  grid-row-end: 3;
}

// gallery-tour====================================================================
.gallery-tour {
  margin-top: 150px;

  // .gallery-tour__header

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
}

// tour-one-reviews=================================================
.tour-one-reviews {
  margin-bottom: 155px;

  @media (max-width: 800px) {
    margin-bottom: 212px;
  }
}

.reviews.tour-one-reviews {
  @media (max-width: 600px) {
    margin-bottom: 189px;
  }
}

// reservation=============================================================================
.reservation {
  display: flex;
  justify-content: space-between;
  max-width: 1295px;
  padding-right: 15px;
  margin-right: auto;

  @media (max-width: 800px) {
    max-width: 705px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    padding-right: 0px;
    padding-bottom: 150px;
  }

  &__img-bg {
    max-width: 803px;
    height: 640px;
    border-radius: 0px 10px 0px 0px;
    overflow: hidden;

    @media (max-width: 800px) {
      max-width: 289px;
      height: 500px;
    }
    @media (max-width: 600px) {
      max-width: 100%;
      height: 340px;
      border-radius: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 360px;
    margin-top: 132px;
    margin-left: 20px;
    flex-shrink: 0;

    @media (max-width: 800px) {
      margin-top: 50px;
      width: 315px;
    }
    @media (max-width: 600px) {
      width: 100%;
      margin: 40px 0 0;
      padding: 0 24px;
    }
  }

  &__title {
    margin-bottom: 90px;

    @media (max-width: 600px) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // flex-direction: column;
  }

  &__input {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    background: $white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 50px;
    border: none;
    padding: 16px 55px 16px 28px;
    margin-bottom: 20px;
  }

  &__input--calendar {
    background-image: url(../img/filter-top/calendar.svg);
    background-repeat: no-repeat;
    background-position: right 28px center;
  }

  &__input--person {
    background-image: url(../img/filter-top/person.svg);
    background-repeat: no-repeat;
    background-position: right 28px center;
  }

  &__btn {
    width: 265px;
    border: none;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    cursor: pointer;

    @media (max-width: 800px) {
      width: 245px;
    }
    @media (max-width: 600px) {
      width: 310px;
    }
    @media (max-width: 420px) {
      width: auto;
      max-width: 300px;
    }
  }

  &__heart {
    width: 50px;
    height: 50px;
    background: #ededed;
    backdrop-filter: blur(1000px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
  }
}
